<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>The Neal Management Group</title>
    <meta property="og:image" content="/img/nmgs.png">
    <meta name="description" content="The Neal Management Group, LLC (NMG) is a Health Care Management Consulting organization with over 30 years of health care experience. We are highly skilled in ISO principles and possess, and we are DBE and MBE certified via the State of Georgia.">
    <meta property="og:type" content="website">
    <link rel="icon" type="image/png" sizes="582x659" href="/img/nmgs.png">
    <link rel="icon" type="image/png" sizes="582x659" href="/img/nmgs.png">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/css/Features-Clean.css">
    <link rel="stylesheet" href="/css/Footer-Basic.css">
    <link rel="stylesheet" href="/css/hero.css">
    <link rel="stylesheet" href="/css/Highlight-Clean.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/Navigation-Clean.css">
    <link rel="stylesheet" href="/css/section.css">
    <link rel="stylesheet" href="/css/Simple-Slider.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/Team-Boxed.css">
    <link rel="stylesheet" href="/css/topbar.css">
    <link rel="stylesheet" href="/css/video.css">
    <link rel="stylesheet" href="/css/why-us.css">
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

</head>

<body>
    <div id="topbar" class="d-none d-lg-flex align-items-center fixed-top">
        <div class="container d-flex">
            <div class="contact-info me-auto"><i class="fa fa-envelope"></i><a href="mailto:contact@example.com">{{site.data.site.email}}</a><i class="fa fa-phone"></i><a href="tel:3018426134">770-842-61134</a></div>
            <div class="cta"><a class="qoute" href="contact.html">Free Quote</a></div>
        </div>
    </div>
    <header id="header" class="fixed-top">
        <nav class="navbar navbar-light navbar-expand-lg navigation-clean">
            <div class="container"><a class="navbar-brand" href="index.html">The Neal Management Group</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="services.html">Our Services</a></li>
                        <li class="nav-item"><a class="nav-link" href="about.html">About Us</a></li>
                        <li class="nav-item"><a class="nav-link" href="contact.html">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    {{ content }}

    <footer class="footer-basic">
        <p class="copyright">The Neal Management Group&nbsp;© 2022</p>
    </footer>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.js"></script>
    <script src="/js/jquery.easing.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/mon.js"></script>
    <script src="/js/open.js"></script>
    <script src="/js/Simple-Slider.js"></script>
    <script>
        if (window.netlifyIdentity) {
          window.netlifyIdentity.on("init", user => {
            if (!user) {
              window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
              });
            }
          });
        }
      </script>
</body>

</html>